html, body{
    margin: 0px;
    min-height: 100%;
    max-height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    background-image: url("Grey_Texture.jpg");
}

#New_Exam_Container{
    /* ----------Inside html,body------------- */
    width: 90%;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* background-color: greenyellow; */
}

#Add_Question{
    /* -------------Inside div buttons----------- */
    background-color:transparent;
    color: rgb(48, 48, 252);
    border: none;
    outline: none;
    width: 40%;
    height: 50px;
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
    /* margin-right: 29px; */
}

#submit{
    /* -------------Inside div buttons----------- */
    background-color:transparent;
    color: rgb(48, 48, 252);
    border: none;
    outline: none;
    width: 40%;
    height: 50px;
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
}

#Question-Answer{
    /* ----------inside div NEW_EXAM_CONTAINER--------------- */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: blue;
}

.ques_div{
    /* -----------inside div with id Question-----------   */
    /* background-color: brown; */
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 20px;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
}

.ques_no_div{
    height: 100%;
    /* background-color: cyan; */
    width: 3%;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ques{
    height: 100%;
    width: 91%;
    /* background-color: yellow; */
}

.ques_input{
    height: 100%;
    width: 100%;
    border: none;
    /* background-color: tomato; */
}

.ans{
    /* float: left; */
    width: 9%;
    height: 100%;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    outline: none;
}

#buttons{
    /* ----------inside div NEW_EXAM_CONTAINER--------------- */
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    width: 100%;
}

.answer{
    /* ------------Inside div Question--------------- */
    /* background-color: brown; */
    float: left;
    width: 25%;
    height: 35px;
    margin-bottom: 5px;
    margin-right: 55%;
}
/* 
form{
    background-color: rgb(228, 25, 255);
} */